html { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }

body {
	font: 18px/1.5 sans-serif;
	max-width: 60rem;
	margin-inline: auto;
	padding: 1rem;
}

section {
	background-color: #e5e5e5;
	padding: 1em;
}

img {
	width: 200px;
}
