html { box-sizing: border-box; }
*, *::after, *::before { box-sizing: inherit; }

body {
	font: 18px/1.5 sans-serif;
}

button {
	font-size: 18px;
	padding: 0.5em 1em;
}

.box {
	margin: 1rem 0;
	padding: 1em;
	background-color:floralwhite;
	color:deeppink;
	border: 5px solid hotpink;
}

.foto {
	width: 200px;
}

.vtip {
	background-color:deeppink;
	color:floralwhite;
	border: 5px solid hotpink;
	padding: 1em;
}

.aktivni {
	background-color: deeppink;
	color:floralwhite;
	font-weight:700;
	border: 5px solid hotpink;
}
